

<form (submit)="onSubmit(username.value, password.value)">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" class="form-control" id="username" #username required>
  </div>
  <div class="form-group">
    <label for="password">Password:</label>
    <input type="password" class="form-control" id="password" #password required>
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
<div *ngIf="successMessage" class="alert alert-success">{{ successMessage }}</div>
<div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

